<!--This file is a backup of the previous file except it uses onChange!!!-->

{% extends "layout.html" %}
{% block content %}
<form method="POST" action="">
    <fieldset class="form-group">
        <!--Is this an emergency?-->
        <div class="form-group">
            <div class="yours messages">
                <div class="message last" id="is-emergency-bubble">
                    {{form.emergency.label(class="form-control-label")}}
                </div>
            </div>
            <div class="form-outline text">
                {{form.emergency(class="form-control", id="emergencyField", placeholder="Enter 'Yes' or 'No'", onChange="showHealthCard()")}}
                {% if form.emergency.errors %}
                    <div class="inform-feedback">
                        {% for error in form.emergency.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <!--Response bubble-->
        <div class="mine messages">
            <div class="message last" id="emergency-response" style="display: none"></div>
        </div>
        <!--Yes it is an emergency-->
        <div class="form-group" id="isEmergency" style="display: none">
            <div class="yours messages">
                <div class="message last" id="emergency-bubble">
                    <b>This service is intended for non-emergency use only. <br>
                    Please call 9-1-1 or get to the hospital immediately.<br></b>
                    <!--To restart, type in "Cancel".-->
                </div>
            </div>
        </div>
        <!--Health Card Number-->
        <div class="form-group" id="healthcard" style="display: none">
            <div class="yours messages">
                <div class="message last" id="healthcard-bubble">
                    {{form.health_card.label(class="form-control-label")}}
                </div>
            </div>
            <div class="form-outline text">
                {{form.health_card(class="form-control", id="healthcardField", placeholder="Ex: '1234567890'", onChange="showVersionCode()")}}                {% if form.health_card.errors %} <!--should this be before or after if statement?-->
                    <div class="inform-feedback">
                        <span>throw error</span>
                        {% for error in form.health_card.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <!--Response Bubble-->
        <div class="mine messages">
            <div class="message last" id="healthcard-response" style="display: none"></div>
        </div>
        <!--Version Code-->
        <div class="form-group" id="versioncode" style="display: none">
            <div class="yours messages">
                <div class="message last" id="healthcard-bubble">
                    {{form.version_code.label(class="form-control-label")}}
                </div>
            </div>
            <div class="form-outline text">
                {% if form.version_code.errors %} 
                    {{form.version_code(class="form-control", placeholder="Ex: 'AB'")}}
                    <div class="inform-feedback">
                        <span>throw error</span>
                        {% for error in form.version_code.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{form.version_code(class="form-control", placeholder="Ex: 'AB'")}}
                {% endif %}
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}
{% block script %}
<script>
    function showHealthCard() {
        var x = document.getElementById("emergencyField");
        x.value = x.value.toLowerCase();
        /**Is not emergency**/
        if (x.value == "n" || x.value == "no") {
            document.getElementById("emergency-response").style.display = "block";
            document.getElementById("emergency-response").innerHTML = x.value.toUpperCase();
            document.getElementById("healthcard").style.display = "block";
            x.style.display = "none";
        } 
        /** is emergency**/
        else if (x.value == "y" || x.value =="yes") {
            document.getElementById("isEmergency").style.display = "block";
            document.getElementById("emergency-response").style.display = "block";
            document.getElementById("emergency-response").innerHTML = x.value.toUpperCase();
        }
    }

    function showVersionCode() {
        var x = document.getElementById("healthcardField");
        document.getElementById("healthcard-response").style.display = "block";
        document.getElementById("healthcard-response").innerHTML = x.value;
        document.getElementById("versioncode").style.display = "block";
        x.style.display = "none";

    }
</script>
{% endblock %}