{% extends 'layout.html' %}

{% block content %}
    <h1 class="title">{% block title %} Patients {% endblock %}</h1>
    <div class="content">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Health Card</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Date of Birth</th>
                    <th>Address</th>
                    <th>Home Phone</th>
                    <th>Mobile Phone</th>
                </tr>
            </thead>
            <tbody>
                {% for patient in patients %}
                    <tr>
                        <td>{{ patient.healthcard }}</td>
                        <td>{{ patient.first_name }}</td>
                        <td>{{ patient.last_name }}</td>
                        <td>{{ patient.dob.date() }}</td>
                        <td>{{ patient.address }}</td>
                        <td>{{ patient.home_phone }}</td>
                        <td>{{ patient.mobile_phone }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
