<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>HopiBot</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Red+Hat+Display:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='hopibot_logo.png')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body class="landing-text">
	<section class="vh-100">
		<div class="container-fluid py-5 h-100">
			<div class="row justify-content-center align-items-center h-100">
				<div class="col-12 col-lg-9 col-xl-7">
					<div class="card shadow-2-strong" style="border-radius: 15px;">
						<div class="card-body p-4 p-md-5">
							<!-- <div class="landing-container"> -->
								<h1 class="centering" style = "  font-size: 60px; 
								font-weight: 800; 
								margin-bottom: 5%;">
									THANK YOU FOR USING HOPIBOT
									<!-- Thank you for using HopiBot, please keep an eye out for a text message to your mobile phone. -->
								</h1>
								<h2 class="centering" style= "font-size: 40px; 
								margin-bottom: 1%;">
									<!-- PLEASE KEEP AN EYE OUT FOR A TEXT MESSAGE ON YOUR MOBILE PHONE -->
									Please keep an eye out for a text message on your mobile phone.
								</h2>
						
								<h2 class="centering" style = "font-size: 40px; ">
									<!-- PLEASE KEEP AN EYE OUT FOR A TEXT MESSAGE ON YOUR MOBILE PHONE -->
									We wish you a safe journey and a fast recovery!
								</h2>
							<!-- </div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
    
</div>



	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>

