
.messages {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  
  .message {
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
  }
  
  .yours {
    align-items: flex-start;
  }
  
  .yours .message {
    margin-right: 25%;
    background-color: #eee;
    position: relative;
  }
  
  .yours .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -7px;
    height: 20px;
    width: 20px;
    background: #eee;
    border-bottom-right-radius: 15px;
  }
  .yours .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 20px;
    background:white;
    border-bottom-right-radius: 10px;
  }
  
  .mine {
    align-items: flex-end;
  }
  
  .mine .message {
    color: white;
    margin-left: 25%;
    background: rgb(255,65,126);
    background: linear-gradient(0deg, rgba(255,65,126,1) 0%, rgba(255,128,78,1) 58%, rgba(255,190,104,1) 100%);
    background-attachment: fixed;
    position: relative;
  }
  
  .mine .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -8px;
    height: 20px;
    width: 20px;
    background: rgb(255,65,126);
    background: linear-gradient(0deg, rgba(255,65,126,1) 0%, rgba(255,128,78,1) 58%, rgba(255,190,104,1) 100%);
    background-attachment: fixed;
    border-bottom-left-radius: 15px;
  }
  
  .mine .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 10px;
  }



.container {
  height: 100vh;
  margin: auto;
  position: relative;
}

.form-group {
  height: 100%;
  margin-bottom: 100px;
}

.form-check {
  height: 100%;
}

.form-control {
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
  width: 60% !important;
}

.landing-text{
  font-family: 'Jost', sans-serif;
  font-family: 'Red Hat Display', sans-serif;
  bottom: 0;
  top: 0;
  background: rgb(255,65,126);
  background: linear-gradient(0deg, rgba(255,65,126,1) 0%, rgba(255,128,78,1) 58%, rgba(255,190,104,1) 100%);
}

.centering {
  text-align: center;
}

.body-style {
  font-family: 'Jost', sans-serif;
  font-family: 'Red Hat Display', sans-serif; 
  font-size: 18px;
  height: 100%;
}

.landing-container {
  margin-top: 50px; 
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background: rgb(255,65,126);
  background: linear-gradient(90deg, rgba(255,65,126,1) 0%, rgba(255,128,78,1) 58%, rgba(255,190,104,1) 100%);
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid rgb(255,65,126);
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: rgb(255,65,126);
}
